{% block contenido %}
    <!-- Información de nosotros-->
    <div>
   
      <!--Titulo-->
     <!--TARJETA NAV-->
     <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <!-- contenido de la nav -->
          <li class="nav-item"> 
            <a href="Prod/polerones.html" class="nav-link">Polerones</a>
          </li>
          <li class="nav-item">
            <a href="Prod/camisas.html" class="nav-link">Camisas</a>
          </li>
          <li class="nav-item">
            <a href="Prod/vestidos.html" class="nav-link">Vestidos</a>
          </li> 
          <li class="nav-item">
            <a href="Prod/pijamas.html" class="nav-link">Pijamas</a>
          </li>
          <li class="nav-item">
            <a href="api.html" class="nav-link active text-danger">API PERRITOS</a>
          </li>    
        </ul>
    </div>
    <div class="app">
        <div class="header">
            <h1>Dog App</h1>
            <div id="breed"></div>
        </div>
        <div class="slideshow" id="slideshow"></div>
    </div>
    

    <script src="./JS/api.js"></script>
    </div> 
{% endblock %}