{% extends 'harrys/base.html' %}

{% load static %}

{% block js %}

<script>
    function realizarPedido(){
        Swal.fire({
            "title":"¿Estás seguro de que quieres realizar el pedido?",
            "text": "El sistema procesará el pedido de manera automatica",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText": "Sí, Realizar Pedido",
            "reverseButtons": true,
            "confirmButtonColor": "green"
        })
        .then(function(result){
            if (result.isConfirmed) {
                window.location.href = "/compraexitosa/"
            }
        })
    }
</script>

{% endblock %}

{% block contenido %}
<div class="container">
  <br>
  <div class="col-12 align-content-center">
    <div class="alert alert-warning border-3" role="alert">
        <table class="table warning">
          <thead>
            <tr>
              <th scope="row" colspan="3" class="text-center">CARRITO HARRYS</th>
            </tr>
            <tr>
              <th scope="col">NOMBRE</th>
              <th scope="col">PRECIO</th>
              <th scope="col">CANTIDAD</th>
            </tr>
          </thead>
          <tbody>
          {% if request.session.carrito.items %}
          {% for key, value in request.session.carrito.items %}
            <tr>
              <th scope="col">{{value.nombre}}</td>
              <td class="float-left">${{value.acumulado}}</td>
              <th class="col">{{value.cantidad}}
                <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark bg-danger text-white ">-</a>
                <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark bg-success text-white ">+</a>
              </th>
            </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="3">
                  <br>
                  <div class="alert alert-danger text-center"> Sin Productos </div>
              </td>
          </tr>
          {% endif %}
            <tr>
              <th scope="row">Total:</th>
              <th colspan="2">${{total_carrito}}</th>
            </tr>
          </tbody>
        </table>
        <hr>
        </div>
        <div class="row text-center">
            <div class="col-5"><a href="{% url 'CLS' %}" class="btn btn-danger text-white">Limpiar</a>
            </div>
            {% if user.is_authenticated and request.session.carrito.items %}
            <div class="col-6"><a href="#" onclick="realizarPedido()" class="btn btn-success text-white">Realizar Pedido</a></div>
            {% else %}
            <div class="col-7"><h3 href="#" class="btn btn-warning text-danger fw-bold">Debes estar LOGEADO y TENER ARTICULOS EN EL CARRO para realizar un Pedido!</h3></div>
            {% endif %}

    </div>
    <br>
  </div>
</div>
{% endblock %}