{% extends 'harrys/base.html' %}

{% load static %}

{% block contenido %}

<div class="container">

    <div>
        <h2>Formulario contacto</h2>
        <form action="">

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="ingrese su nombre">
            <br>
            <label for="correo">Correo</label>
            <input type="email" name="correo" id="correo">
            <br>
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono" id="telefono">

            <br>
            <label for="tipo_solicitud">Tipo solicitud</label>
            <select name="tipo_solicitud" id="tipo_solicitud">
                <option value="">Seleccionar</option>
                <option value="1">Reclamo</option>
                <option value="2">Solicitud</option>
                <option value="3">Sugerencia</option>
            </select>
            <br>
            <label for="comentario">Comentario</label>
            <textarea name="comentario" id="comentario" cols="30" rows="10"></textarea>
            <br>
            <input type="reset" value="Limpiar" class="btn">
            <input type="button" value="Enviar" class="btn" onclick="alert('Enviando..')">
        </form>
    </div>
    <div>
        <h2>Nuestra ubicación</h2>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3195.011713153882!2d-73.0617941973244!3d-36.79426955624637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9669b4503c9a1735%3A0x3fc32996839e6986!2sDuoc%20UC%3A%20Sede%20San%20Andr%C3%A9s%20De%20Concepci%C3%B3n!5e0!3m2!1ses!2scl!4v1653332466004!5m2!1ses!2scl" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>

{% endblock %}