{% extends 'harrys/base.html' %}

{% load static %}

{% block contenido %}
    <!-- CARRUSEL DE IMAGENES-->
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <a href="{% url 'tienda' %}">
          <img src="{% static 'core/' %}IMAGENES/banner.png" class="d-block w-100" alt="...">
        </a> 
      </div>
    </div>
    <!--Más items si quiero-->
    <br>
    <div class="container-fluid">
      <!--Header-->
      <header class="row">
        <div class="col-md-7">
          <!--Saludos-->
          <h1 class="display-2 ms-3 p-3">
            <span class="d-block">Bienvenidos</span>
            a Harry's Boutique!
          </h1>
          <!--Trabajo-->
          <h3 class="text-danger fw-light ms-3 p-3">
            Tienda de confección de ropa y prendas para Mascotas!
          </h3>
          <h5 class="text-muted fw-light ms-3 p-3">
            Somos un emprendimiento nuevo creado por una amante de los perros con 3 de ellos a su lado.
            La idea surgió por que noté que mis perritos podían pasar más frio de lo que 
            comunmente se pensaba, por lo que decidí empezar a confeccionarles ropa para su comodidad.

            La idea se transformó en costumbre y de ella surgió la iniciativa de instaurar esta boutique para mascotas!

            <h6 class="text-warning fw-bold ms-3 p-3">- Nancy Carlos Vasquez</h6> 
          </h5>
          <!--Redes Sociales-->
          <div class="d-md-block icons-social-networks ms-3 p-3">
            <!--Fb-->
            <a href="https://www.facebook.com/harrys.petshop/" target="_blank" class="bg-facebook">
              <img src="{% static 'core/'%}IMAGENES/icons/facebook.png" alt="Facebook">
            </a>
            <!--Ig-->
            <a href="https://www.instagram.com/harrys.petshop/" target="_blank" class="bg-instagram mx-2">
              <img src="{% static 'core/'%}IMAGENES/icons/instagram.png" alt="Instagram">
            </a>
          </div>
        </div>
        <div class="col">
          <div class="photo-frame shadow ms-3 mx-1 p-1">
            <img src="{% static 'core/' %}IMAGENES/perritomodelo1.jpg"  alt="Bandanas" class="img-fluid">
          </div>
        </div>
      </header>
    </div>
    <br>
{% endblock %}