{% extends 'harrys/base.html' %}

{% load static %}

{% block contenido %}
    <!-- CARRUSEL DE IMAGENES-->
    <div class="pad">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
              <a href="quienessomos.html">
            <img src="{% static 'core/' %}IMAGENES/banner1.jpg" class="d-block w-100" alt="...">
            </a> 
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a href="{% static 'core/' %}PRODUCTOS/bandana1.html">
            <img src="{% static 'core/' %}IMAGENES/bandana1.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h2>BANDANA AKATSUKI</h2>
            </div>
          </div>
          <div class="carousel-item">
            <a href="PRODUCTOS/bandana2.html">
            <img src="{% static 'core/' %}IMAGENES/bandana2.jpg" class="d-block w-100" alt="...">
            </a>
            <div class="carousel-caption d-none d-md-block">
              <h2>BANDANA GOKU</h2>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <br>
    <div class="container">
      <!--Header-->
      <header class="row">
        <div class="col-md-7">
          <!--Saludos-->
          <h1 class="display-2">
            <span class="d-block">Bienvenidos</span>
            a Harry's Boutique!
          </h1>
          <!--Trabajo-->
          <p class="text-muted fw-light text-capitalize">
            Emprendimiento de confección de ropa y prendas para Mascotas!
          </p>
          <!--Redes Sociales-->
          <div class="d-none d-md-block icons-social-networks">
            <!--Fb-->
            <a href="https://www.facebook.com/harrys.petshop/" target="_blank" class="bg-facebook">
              <img src="{% static 'core/'%}IMAGENES/icons/facebook.png" alt="Facebook">
            </a>
            <!--Ig-->
            <a href="https://www.instagram.com/harrys.petshop/" target="_blank" class="bg-instagram mx-2">
              <img src="{% static 'core/'%}IMAGENES/icons/instagram.png" alt="Instagram">
            </a>
          </div>
        </div>
        <div class="col-8 col-md-4">
          <div class="photo-frame position-relative shadow">
          <img src="{% static 'core/' %}IMAGENES/bandanas.jpg"  alt="Bandanas" class="w-100 p-2 imgzoom">
          </div>
        </div>
      </header>
    </div>
    <br>
{% endblock %}