{% extends 'harrys/base.html' %}

{% block js %}

<script>
    function eliminarProducto(id){
        Swal.fire({
            "title":"¿Seguro quieres eliminar este Producto?",
            "text": "Esta Acción no se puede deshacer",
            "icon": "question",
            "showCancelButton": true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText": "Sí, Eliminar",
            "reverseButtons": true,
            "confirmButtonColor": "#dc3545"
        })
        .then(function(result){
            if (result.isConfirmed) {
                window.location.href = "/eliminar_producto/" +id+"/"
            }
        })
    }
</script>

{% endblock %}

{% block contenido %}
<br>
<div class="card container m-6 ">

<div class="card-body col-12 align-self-center"><h2 class="display-2 text-center">PRODUCTOS</h2></div>
  
    <table class="table table-striped table-hover table-responsive-sm table-bordered">
        <tr class="text-center">
            <th class="text-center">ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Stock</th>
            <th>Accion</th>
        </tr>
        
        {% for p in entity%}
        <div class="container">
            <tr class="text-center">
                <td>{{ p.id }}</td>
                <td>{{ p.nombre | title }}</td>
                <td>{{ p.descripcion | title}}</td>
                <td>${{p.valor }}</td>
                <td>{{ p.categoria | title}}</td>
                <td>{{ p.stock }}</td>
                <td>
                    <div class="text-center">
                    {% if perms.core.change_producto %}
                    <a href ="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm text-white">Modificar</a>
                    {% endif %}
                    {% if perms.core.delete_producto %}    
                    <a href ="#" onclick="eliminarProducto({{ p.id }})" class="btn btn-danger btn-sm">Eliminar</a>
                    {% endif %}
                    </div>
                </td>
            </tr>  
        </div>
        {%endfor%}  
    </table>
    <hr>
    <div>
        {% include 'app/paginator.html' %}
    </div>

</div>
{% endblock %}