{% extends 'harrys/base.html' %}

{% block contenido %}
<h2> Listado de Productos <h2>
  
<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Accion</th>
    </tr>
    {% for p in productos%}
    <div class="container">
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.valor }}</td>
            <td>{{ p.categoria }}</td>
            <td>{{ p.fecha_publicacion }}</td>
            <td>{{ p.descripcion }}</td>
            <td>
                <a href ="{% url 'modificar_producto' p.id %}">Modificar</a>
                <a href ="{% url 'eliminar_producto' p.id %}">Eliminar</a>
            </td>
        </tr>  
    </div>
    {%endfor%}  
</table>
{% endblock %}