{% extends 'harrys/base.html' %}

{% load static %}

{% block contenido %}
<main class="sec-portfolio-js">
    <div class="container-md" >
        <div class="row pt-5">
            <h3 class="text-center display-2 text-danger">TIENDA HARRY'S</h3>
        </div>  
        <div class="row">
        {% for producto in productos %}
        <div class="col-sm-3">
            <div class="card w-100 shadow-sm">
                {% if producto.imagen %}
                    <a href="" class="col-12 mb-3 portfolio-item" data-bs-toggle="modal" data-bs-target="#modal-portfolio">
                        <img src="{{ producto.imagen.url }}" class="w-100 img-btn-modal-js">
                    </a>
                {%else%}
                    <p class="fw-bold">Producto sin Fotografía</p>
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-tittle ">{{producto.nombre}}</h5>
                    <p class="card-text fw-bold">Categoria: {{producto.categoria}}</h4> 
                    <h5 class="card-text">${{producto.valor}}</h4>    
                    <a href="{%url 'Add' producto.id %}" class="text-warning fw-bold tiendatit">Agregar al Carro</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</main>
    <br>
    <div class="col-9 modal fade" id="modal-portfolio">
        <div class="modal-dialog position-relative modal-dialog-centered">
            <img src="" alt="" class="w-100 img-modal-js"> 
        </div>
    </div>
{% endblock %}
