{% extends 'harrys/base.html' %}

{% load static %}

{% block contenido %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 align-self-centerr"><h1 class="display-1">TIENDA HARRYS</h1></div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row" style="padding: 2px 0;">
                <div class="col-12">
                    <div class="row">
                        {% for producto in productos %}
                        <div class="col-6">
                            <div class="card" style="height:12rem; width:23rem; margin: 5px 0px;">
                                <div class="card-body">
                                    <h5 class="card-tittle">{{producto.nombre}}</h5>
                                    <p class="card-text">{{producto.categoria}}</p>
                                    <p class="card-text">{{producto.valor}}</p>

                                    <a href="{%url 'Add' producto.id %}" class="btn btn-warning">Agregar al carrito</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
            </div>
        </div>
        <div class="col-4">
            {% include "harrys/carrito.html" %}
        </div>
    </div>

</div>

{% endblock %}
