{% extends 'harrys/base.html' %}

{% load static %}

{% block contenido %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 ">
        <br>
        <div class="card">
            <div class="card-body">
                <hr>
                <h1 class="display-4">Información del Perfil<h2>
                <h3 class="usuarioname text-uppercase text-danger">Bienvenido: {{ user.username}}</h3>
                <h3 class="display-6">Datos</h3>
            
                <h4 class="fw-bold">Email:</h4>{{ user.email}}
                <h4 class="fw-bold">Contraseña:</h4>{{ user.password}}
                <br>------------------------------
                <div>
                <a href="{% url 'cambiarpassword' %}" class="btn btn-success">Cambiar mi Contraseña</a>  
                </div>
                <hr> 
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}
