/*Redes sociales*/

.icons-social-networks > a {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s filter;
}

.icons-social-networks > a:hover{
    filter: opacity(0.5);
}
.bg-facebook {
    background-color: #023693;
}

.bg-instagram{
    background-color: pink;
}

.photo-frame{
    font-size: 20px;
}

/*QUIENES SOMOS*/
.icon-service{
    --box-size: 85px;
    width: var(--box-size);
    width: var(--box-size);
}

.portfolio-item > img{
    transition: 0.4s transform;
}
.portfolio-item:hover > img {
    transform: scale(0.96);
    filter: opacity(0.9);
}


/*card*/

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

/*NAV*/

.navtitle{
    border-radius: 15px;
    overflow: hidden;
    transition: all ease-out 0.2s;
    color:#1d1d1c;
}
.navtitle:hover{
    transform: scale(1.10);
    transition: 1s filter;
    transition-delay: 1s;
    color: #f9e537;
}

.navlogin{
    border: solid 1px #1d1d1c;
    border-radius: 15px;
    overflow: hidden;
    transition: all ease-out 0.2s;
    transition: 0.5s filter;
    background: #f9e537;; 
    color: #f98837;  
}

.navlogin:hover{
    transform: scale(1.10);
    color: #f98837;  
}


/* api */
.app{
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
    padding: 20px 0;
}
.header h1 {
    margin: 0 0 10px;
    font-size:4rem;
}
.header select {
    font-size:2rem;

}
.slideshow {
    flex: 1;
    background-color: rgb(230, 173, 190);
    position: relative;
    
}

.slidedog{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/*USER*/

.usuarioname{
    color: #f98837;  
}


