:root{
    --color-blue-medium: #8fe2e4;
    --color-purple: #632ce7;
    --color-white: #FFFFFF;
}
/*GENERAL*/
a{
    color:inherit !important;
    
}

h1{
    color: gold;
}

.alignderecha{
    display: inline-block;
    vertical-align: top;
}

.texto-borde {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }
  
/* NAVBAR */
.navbar-brand > img {
    width: 84px;
    height: 75px;
}

.container > .row{
    margin-bottom: 3rem;
}

/*Redes sociales*/

.icons-social-networks > a {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s filter;
}

.icons-social-networks > a:hover{
    filter: opacity(0.5);
}
.bg-facebook {
    background-color: #023693;
}

.bg-instagram{
    background-color: pink;
}

.photo-frame{
    font-size: 20px;
}

/*QUIENES SOMOS*/
.icon-service{
    --box-size: 85px;
    width: var(--box-size);
    width: var(--box-size);
}

.portfolio-item > img{
    transition: 0.4s transform;
}
.portfolio-item:hover > img {
    transform: scale(0.96);
    filter: opacity(0.9);
}


/*card*/

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

.navtitle{
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s filter; 
    color:#FFFFFF;
}

.navsalir{
    border: solid 3px #1d1d1c;
    border-radius: 15px;
    transition: 0.8s filter;
    background: linear-gradient(to left, #ecee5e, #dabe20);   
    color: rgb(170, 2, 2);
    text-decoration: none;
}

.navsalir:hover{
    transform: scale(1.10);
    color: rgb(255, 0, 0);
}

.navtitle:hover{
    transform: scale(1.10);
    color: rgb(247, 234, 59);
}

.navlogin{
    border: solid 3px #1d1d1c;
    border-radius: 15px;
    transition: 0.8s filter;
    background: linear-gradient(to left, #ee5e5e, #da2020);   
    color: rgb(247, 228, 58);
    text-decoration: none;
}

.navlogin:hover{
    transform: scale(1.10);
    color: rgb(247, 228, 58);
}

/* api */
.app{
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
    padding: 20px 0;
}
.header h1 {
    margin: 0 0 10px;
    font-size:4rem;
}
.header select {
    font-size:2rem;

}
.slideshow {
    flex: 1;
    background-color: rgb(230, 173, 190);
    position: relative;
    
}

.slidedog{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}



/* CARRITO*/

.item {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 20px;
  }
  
  .item-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .item-image {
    height: 300px;
    width: 100%;
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
  }
  
  .item-details > .item-price {
    margin: 0;
  }
  
  /* ? SHOPPING CART */
  .shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 90px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }
  